main .sub-nav {
    margin-bottom: $spacer;
    padding: 0;
    min-height: auto;
}

@media only screen and (min-width: $md) {
    main .sub-nav {
        margin-bottom: 2 * $spacer;
    }
}

.category-container,
.section-container {
    justify-content: flex-start;
}

.article,
.category-content,
.section-content {
    flex: 0 0 75%;
    padding: 0 2 * $spacer 0 0;
    max-width: none;
}

.container {
    padding-bottom: $spacer;
}

.profile-header,
.profile-nav {
    background: none;
}
