body {
    font-family: $rp-sans;
    font-size: 16px;
    letter-spacing: .015rem;
    line-height: 1.5;
    color: $gray-base;
}

i[class^="fa"] {
    margin-right: 0.25 * $spacer;
}

.breadcrumbs {
    li {
        color: $gray;

        &::before {
            color: $gray-base;
        }

        a,
        a:active,
        a:visited {
            color: $gray-base;
        }

        &:last-child a {
            color: $gray;
        }
    }
}

.section {
    margin-bottom: 2 * $spacer;
}

.section-tree {
    flex-direction: column;

    .section {
        margin-bottom: $spacer;
    }

    .see-all-articles {
        padding: $spacer 0;
    }
}

.section-tree-title {
    margin-bottom: $spacer;

    a {
        color: $rp-red;
    }
}
