.header {
    position: fixed;
    z-index: 1;
    padding: 0 $spacer;
    width: 100%;
    height: 75px;
    max-width: 100%;
    background-color: rgba($gray-base, 0.5);
}

.header {
    .container,
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.header {
    a,
    .btn,
    button,
    .spacer {
        color: $white;
    }
}

.header {
    .btn,
    button {
        font-weight: bold;
    }
}

.header {
    a:not([role="menuitem"]):hover,
    a:not([role="menuitem"]):visited,
    a:not([role="menuitem"]):active,
    .btn:hover,
    .btn:visited,
    .btn:active,
    button:hover,
    button:visited,
    button:active {
        color: $white;
    }

    a:not([role="menuitem"]):hover {
        transition: color $timing $timing-function;
    }

    .user-nav {
        a {
            color: $gray-base;

            &:hover,
            &:visited,
            &:active {
                color: $gray-base;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .icon-menu {
        order: 1;
        margin-left: $spacer / 2;
        margin-right: 0;
        color: #fff;
    }

    .btn::after {
        padding: 0;
        color: $white;
    }

    .spacer {
        padding: 0 0.5 * $spacer;
        font-size: 24px;
    }
}

.logo-full {
    display: none;
}

.logo-solo {
    display: inline;
}

@media only screen and (min-width: $md) {
    .logo-full {
        display: inline;
    }

    .logo-solo {
        display: none;
    }

    .header {
        .user-nav {
            a {
                color: #fff;

                &:hover,
                &:visited,
                &:active {
                    color: #fff;
                }
            }
        }
    }
}

.page-header {
    margin: 0;
}

.article,
.category-content,
.section-content {
    flex: 1 !important;
    padding: 0 !important;
}

.article-sidebar {
    display: none;
}

@media only screen and (min-width: $md) {
    .article,
    .category-content,
    .section-content {
        flex: 0 0 75% !important;
        padding: 0 2 * $spacer 0 0 !important;
    }

    .article-sidebar {
        display: block;
    }
}
