a {
    .category-icon {
        margin: 0 auto $spacer / 2;
        width: 56px;
        height: 56px;
        background-image: url('/hc/assets/logo-solo-red.svg');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

// Certification
a[data-id="202701778"] {
    // .category-icon { background-image: url('/hc/assets/icon-certification.png'); }
    .category-icon { background-image: url($assets-icon-certification-png); }
}

// Product information
a[data-id="202706347"],
a[data-id="360000709012"],
a[data-id="360000709412"] {
    // .category-icon { background-image: url('/hc/assets/icon-education.png'); }
    .category-icon { background-image: url($assets-icon-education-png); }
}

// Getting Started
a[data-id="202648247"] {
    // .category-icon { background-image: url('/hc/assets/icon-getting-started.png'); }
    .category-icon { background-image: url($assets-icon-getting-started-png); }
}

// Email Optimization
a[data-id="203008247"] {
    // .category-icon { background-image: url('/hc/assets/icon-infrastructure.png'); }
    .category-icon { background-image: url($assets-icon-infrastructure-png); }
}

// Mailbox providers and blacklists
a[data-id="203070427"] {
    // .category-icon { background-image: url('/hc/assets/icon-mailbox.png'); }
    .category-icon { background-image: url($assets-icon-mailbox-png); }
}

// Sender education
a[data-id="202591877"] {
    // .category-icon { background-image: url('/hc/assets/icon-marketing.png'); }
    .category-icon { background-image: url($assets-icon-marketing-png); }
}
